<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin: Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css"/>
    <link th:href="@{/css/books.css}" rel="stylesheet" href="../css/books.css"/>
</head>
    <body>
    <header th:replace="fragments/loggedInHeader :: header"></header>
    <div class="loggedInContainer">
        <h1>Books</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date of publication</th>
                <th>Borrowed by</th>
                <th>Borrow now</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.getBookTitle()}">Title</td>
                <td th:text="${book.getBookAuthor()}">Author</td>
                <td th:text="${book.getBookPublishedIn()}">Date of publication</td>
                <td th:text="${book.getUserName()}">Borrowed by</td>
                <td><input type="button" th:attr="id='n'+${book.getBook_id()}" value="Borrow"/></td>
            </tr>
        </table>
    </div>
    </body>
</html>