<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin: Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css"/>
    <link th:href="@{/css/borrowings.css}" rel="stylesheet" href="../css/borrowings.css"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" href="../css/table.css"/>
</head>
    <body>
    <header th:replace="fragments/loggedInHeader :: header"></header>
    <div class="loggedInContainer">
        <h1>Borrowings</h1>
        <table>
            <tr class="tb-header">
                <th>User Name</th>
                <th>Book Title</th>
                <th>Borrowing date</th>
            </tr>
            <tr th:each="borrowing : ${borrowings}">
                <td th:text="${borrowing.getUserName()}">User name</td>
                <td th:text="${borrowing.getBookTitle()}">Book title</td>
                <td th:text="${borrowing.getBorrowingDate()}">Borrowing date</td>
            </tr>
        </table>
    </div>
    </body>
</html>