<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin: Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css"/>
</head>
    <body>
    <header>
        <div class="head">
            <div class="title">LIBRARY TOOL</div>
            <div class="uj">
                <a href="/books" class="reg">books</a>
                <a href="/borrowings" class="reg">borrowings</a>
                <a href="/logout" class="reg">logout</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Books</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date of publication</th>
                <th>ISBN</th>
                <th>Format</th>
                <th>Language</th>
                <th>Description</th>
                <th>Currently at</th>
            </tr>
            <tr th:each="book : {$bookList}">
                <td th:text="{$book.bookTitle}">Title</td>
                <td th:text="{$book.bookAuthor}">Author</td>
                <td th:text="{$book.bookPublishedIn}">Date of publication</td>
                <td th:text="{$book.bookISBNno}">ISBN</td>
                <td th:text="{$book.bookFormat}">Format</td>
                <td th:text="{$book.bookInLanguage}">Language</td>
                <td th:text="{$book.bookDescription}">Description</td>
                <td th:text="{$book.bookIsBorrowed}">Currently at</td>
            </tr>
        </table>
    </div>
    </body>
</html>