<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!--<h1>Hello admin!</h1>-->
<!--<a href="/login">Login here!</a>-->
<div class="container">
<h1 th:inline="text">Hello admin, you are in!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>
</body>
</html>